
  /* Top Navbar */
  .top-navbar {
    height: 80px;
    background: #006E44;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 18px;
    position: relative;
}


  .logo-nav {
    height: 150px;         /* ⬆️ Increase this to make it bigger */
    max-height: 120px;     /* Optional: limit max size */
    object-fit: contain;
}


  .user-greeting {
    font-weight: normal;
  }


  img {
    display: block; /* removes extra space below image */
  }
